In [3]:
import pandas as pd
import numpy as np

In [16]:
data = {
    "Name": [
        "Amit", "Riya", "Sohan", "Neha", "Rahul",
        "Priya", "Karan", "Anjali", "Vikas", "Pooja"
    ],
    "Subject": [
        "Math", "Physics", "Chemistry", "Math", "Physics",
        "Chemistry", "Math", "Physics", "Chemistry", "Math"
    ],
    "Score": np.random.randint(50, 101, size=10),
    "Grade": [None] * 10   # initially empty
}

df = pd.DataFrame(data)

print(df)

     Name    Subject  Score Grade
0    Amit       Math     98  None
1    Riya    Physics     72  None
2   Sohan  Chemistry     77  None
3    Neha       Math     89  None
4   Rahul    Physics     75  None
5   Priya  Chemistry     61  None
6   Karan       Math     50  None
7  Anjali    Physics     85  None
8   Vikas  Chemistry     59  None
9   Pooja       Math     88  None

In [17]:
conditions = [
    df["Score"] >= 90,
    df["Score"] >= 80,
    df["Score"] >= 70,
    df["Score"] >= 60
]

choices = ["A", "B", "C", "D"]

df["Grade"] = np.select(conditions, choices, default="F")
print(df)

     Name    Subject  Score Grade
0    Amit       Math     98     A
1    Riya    Physics     72     C
2   Sohan  Chemistry     77     C
3    Neha       Math     89     B
4   Rahul    Physics     75     C
5   Priya  Chemistry     61     D
6   Karan       Math     50     F
7  Anjali    Physics     85     B
8   Vikas  Chemistry     59     F
9   Pooja       Math     88     B

In [19]:
Avg = df.groupby('Subject').mean('Score').round(2)
print(Avg)

           Score
Subject
Chemistry  65.67
Math       81.25
Physics    77.33

In [26]:
def pandas_filter_pass(dataframe) :
    return df[df['Grade'].isin(['A','B'])]

print(pandas_filter_pass(df))

     Name  Subject  Score Grade
0    Amit     Math     98     A
3    Neha     Math     89     B
7  Anjali  Physics     85     B
9   Pooja     Math     88     B